body{
    background-color: #010101;
    color:white;
}
div{
    width: 100%;
    display:flex;
    margin-top:10%;
    justify-content: center;
}

h3{
    text-align:center;
}
canvas { border: 3px solid white; }